* {
    box-sizing: border-box;
}
body{
    background-image: url(images/austrália1.webp);
    background-position: center;
    background-size: cover;
    background-attachment:fixed;
    margin: 0px;
}


/* NAV */
nav{
    background-color: #3824ff;
    align-items: center;
    display: flex;
    justify-content: right;
}
.navHalfs{
    display: flex;
    justify-content: space-around;
    width: 70%;
    height: 15vh;
}
.navHalfs:nth-child(1){
    margin-left: 20px;
    width: 30%;
    justify-content: flex-start;
}
.navBtn{
    width: 25%;
    aspect-ratio: 2/1;
    background-color: #3824ff;
    text-align: center;
    font-size: 4vh;
    text-decoration: none;
    color: #fff;
    transition: 150ms;
    display: flex;
    align-items: center;
    justify-content: center;
}
.navBtn:hover{
    background-color: #10029a;
}


.images,
#imageMaped{
    display: block;
    margin: 20px auto;
    width: 30%;
    border: 2px solid black;
    transition: 100ms;
}
#imageMaped{
    margin: 20px auto;
    display: block;
}
p,li,.links{
    font-family: system-ui;
    color: rgb(255, 255, 255);
    font-size: x-large;
    text-shadow: 2px 1px black;
}
p{
    text-indent: 70px;
}
#titulo{
    color: red;
    margin: 20pFormuláriox auto;
}
span{
    color: blue;
}
h1{
    color: white;
    text-align: center;
    text-shadow: 2px 2px black;
}
.instructions,.subtitulo{
    font-family: system-ui;
    border-bottom: 6px solid red;
    background-color: rgba(59, 53, 109, 0.192);
    color: white;
    text-shadow:2px 2px black;
    text-indent: 20px;
}
h4{
    font-family: Helvetica, sans-serif, Arial;
    text-shadow: 1px 1px black;
    color: rgb(255, 255, 255);
    font-size: x-large;
    text-indent: 70px;
}
.vistos{
    font-size: 5vh;
    text-align: center;
    font-family: system-ui;
    color: rgb(207, 207, 207);
    text-shadow: 2px 2px black;
    background-color: rgba(0, 0, 0, 0.5);
    border: 2px black solid;
}
#form{
  text-shadow: none;
  border-bottom: 2px black solid;
}
li,p,h4{
  margin-left: 20px;
}

@media screen and (max-width: 600px){
    img{ width: 90%;}
}
