* {
    box-sizing: border-box;
}
body{
    background-image: url(images/austrália1.jpg);
    background-position: center;
    background-size: cover;
    background-attachment:fixed;
    margin: 0px;
}


/* NAV */
nav{
    background-color: #94D1FF;
    align-items: center;
    display: flex;
    justify-content: right;
}
.navHalfs{
    display: flex;
    justify-content: space-around;
    width: 50%;
}
.navHalfs:nth-child(1){
    justify-content: left;
    margin-left: 20px;
}
.navBtn{
    width: 25%;
    padding: 30px 0px;
    background-color: #94D1FF;
    text-align: center;
    font-size: 3vh;Arranjar emprego não é fácil, e a Austrália não é uma exceção, a maioria dos migrantes vindos de outros países começam suas carreiras de trabalho na Austrália trabalhando em locais como restaurantes e obras.É sempre recomendável aprender inglês antes de ir para lá, porém nem todos fazem isso.

Pessoas com nível de inglês básico é recomendado começarem em trabalhos que não exigem conversas complexas, como a limpeza em obras.
Para pessoas com nível intermediário de Inglês, pode trabalhar de Lavador de louça ou Barista em cafeterias e restaurantes em cidades menores, que precisem de funcionários.
O salário mínimo na Austrália é de 19,84 dólares australianos por hora, um dos mais altos do mundo, quase seis vezes mais que no Brasil. E por mais que o salário seja maior, a quantidade de horas que é trabalhada na Austrália é bem menor que no Brasil, podendo chegar até 38 horas semanais, na maioria das vezes.
    text-decoration: none;
    color: darkblue;
    transition: 150ms;
    display: flex;
    align-items: center;
    justify-content: center;
}
.navBtn:hover{
    background-color: #1B9DFF;
    color: white;
}



.images,
#imageMaped{
    display: block;
    margin: 20px auto;
    width: 30%;
    border: 2px solid black;
    transition: 100ms;
}
.images:hover,
#imageMaped:hover{
    transform: scale(1.01);
}
#imageMaped{
    margin: 20px auto;
    display: block;
}
p,li,.links{
    font-family: system-ui;
    color: rgb(255, 255, 255);
    font-size: x-large;
    text-shadow: 2px 1px black;
}
p{
    text-indent: 70px;
}
#titulo{
    color: red;
    margin: 20pFormuláriox auto;
}
span{
    color: blue;
}
h1{
    color: white;
    text-align: center;
    text-shadow: 2px 2px black;
}
.instructions,.subtitulo{
    font-family: system-ui;
    border-bottom: 6px solid red;
    background-color: rgba(59, 53, 109, 0.192);
    color: white;
    text-shadow:2px 2px black;
    text-indent: 20px;
}
h4{
    font-family: Helvetica, sans-serif, Arial;
    text-shadow: 1px 1px black;
    color: rgb(255, 255, 255);
    font-size: x-large;
    text-indent: 70px;
}
.vistos{
    font-size: 5vh;
    text-align: center;
    font-family: system-ui;
    color: rgb(207, 207, 207);
    text-shadow: 2px 2px black;
    background-color: rgba(0, 0, 0, 0.5);
    border: 2px black solid;
}
#form{
  text-shadow: none;
  border-bottom: 2px black solid;
}
li,p,h4{
  margin-left: 20px;
}

@media screen and (max-width: 600px){
    img{ width: 90%;}
}
