* {
    box-sizing: border-box;
}
body{
    background-image: url(images/austrália1.jpg);
    background-attachment: fixed;
    background-size: cover;
    margin: 0px;
}
nav{
    width: 100%;
    background-color: red;
    display: flex;
    justify-content: space-evenly;
}
.navBtn{
    width: 25%;
    padding: 20px 0px;
    background-color: white;
    text-align: center;
    font-size: 4vh;
    text-decoration: none;
    color: black;
}
.navBtn:hover{
    background-color: black;
    color: white;
}
.images{
    display: block;
    margin: 20px auto;
    width: 50%;
    border: 2px solid black;
}
#imageMaped{
    margin: 20px auto;
    display: block;
}
p,li,.links{
    font-family: system-ui;
    color: rgb(255, 255, 255);
    font-size: x-large;
    text-shadow: 2px 1px black; 
}
p{
    text-indent: 70px;
}
#titulo{
    color: red;
    border: 1px whitesmoke solid;
    border-radius: 10px;
    background-image:url(images/austrália2.webp);
    background-size: cover;
    padding: 10px 20px;
    width: 95%;
    margin: 20px auto;
}
span{color: blue;}
h1{
    color: white;
    text-align: center;
    text-shadow: 2px 2px black;
}
.instructions,.subtitulo{
    font-family: system-ui;
    border-bottom: 6px solid red;
    background-color: rgba(59, 53, 109, 0.192);
    color: white;
    text-shadow:2px 2px black;
    text-indent: 20px;
}
h4{
    font-family: Helvetica, sans-serif, Arial;
    text-shadow: 1px 1px black;
    color: rgb(255, 255, 255);
    font-size: x-large;
    text-indent: 70px;
}
.vistos{
    font-size: 5vh;
    text-align: center;
    font-family: system-ui;
    color: rgb(207, 207, 207);
    text-shadow: 2px 2px black;
    background-color: rgba(0, 0, 0, 0.5);
    border: 2px black solid;
}
i{
    font-size: 4vh;
    margin-left: 10px;
    color: white;
    text-shadow: 1px 1px black;
}
@media screen and (max-width: 600px){
    img{ width: 90%;}
}